.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-self: center;
    width: 90%;
    gap: 15px;
    padding: 15px;
    background-color: var(--ghost-white);
    background-color: white;
    flex-wrap: wrap;
}

table{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    background-color: lightblue;

}

h1{
    text-align: center;
}

.caja{
    width: 80px;
    height: 80px;
    margin: 15px;
    text-align: center;
    background-color: rgb(157, 116, 55);
    border-radius: 25px 35px 20px;
    text-align: center;
    
}

.caja:hover{
    background-color: burlywood;
    color: black;
    border-color: green;
    border-radius: 90px;
}

body{
    display: flex;
    width: 100hw;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    background-color: rgb(34, 99, 99);

}

h2{
    text-align: center;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
