h1{
    font-family: Girassol;
    font-size: 50px;
    text-align: center;
  }

h2{
    font-family: Fira Code;
    font-size: 30px;
    text-align: left;
}

h3{
    text-align: center;
    font-family: Emblema One;
    font-size: 25px;
}
    
h4{
    text-align: center;
    font-family: Electrolize;
    font-size: 20px;
}

h5{
    font-family: Fira Code;
    font-size: 15px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background: linear-gradient(90deg, #66CE77 65.87%, rgba(102, 162, 206, 0.00) 100%);
  }

body{
    background: #CCF5D3;    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background: linear-gradient(90deg, #66CE77 65.87%, rgba(102, 162, 206, 0.00) 100%);
}

.busqueda{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    padding: 10px;
    background-image: url(./imagenes/Terreno.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bloques{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.bloque label{
    width: 400px;
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(23, 92, 35, 0.8);
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.bloque label:hover{
    background-color: #1f9544;
}

.bloque .contenido-bloque{
    text-align: center;
    padding: 0px;
    margin: 0px 0px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
    background: #5db23e55;
}

.btn-bloque:checked ~ .contenido-bloque{
    max-height: 2000px;
    padding: 15px 0px;
}

.btn-bloque{
    display: none;
}

.imagenbloque{
    width: 100%;
    max-width: 440px;
    height: 300px;
}

.icono{
    width: 50px;
    height: 50px;
}
.imgTerreno{
    width: 300px;
    height: 400px;
}

.infoterreno{
    display: flex;
    flex-direction:row;
    justify-content:left;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #1f9544;
    text-align: left;
    margin: 10px;
}

.infoterreno .h4{
    text-align: left;
}

.contactar{
    border-style:solid;
    border-radius: 10px;
    border-color: #66CE77;
    display: flex;
    justify-content: center ;
}

.pinfo{
    text-align: left;
    font-family: Electrolize;
    font-size: 20px;
}